
@{
    ViewBag.Title = "Accept";
}

<link rel="stylesheet" type="text/css" href="~/Template/assets/css/bootstrap.min.css">

<link rel="stylesheet" type="text/css" href="~/Template/assets/css/font-awesome.css" )>

<link rel="stylesheet" href="~/Template/assets/css/style.css">

<div style="margin-top: 30px">
    <img src=@Url.Content("/Template/assets/images/accept.jpg") />
    <button>
        @Html.ActionLink("Return back", "Index", "Admin")
    </button>
</div>
