
@{
    ViewBag.Title = "Accept";
}

@Html.Partial("_Header")
<div class="container">

<div style="margin-top: 30px">
    <img src=@Url.Content("/Template/assets/images/accept.jpg") />
    <button>
        @Html.ActionLink("Return back", "Index", "Admin")
    </button>
</div>

</div>
