<footer class="footer text-center">
    2020 © Genesy brought to you by Chisom
</footer>
</div>
    </div>

<!-- All Jquery -->
<script src=@Url.Content("/Template/Dashboard/plugins/bower_components/jquery/dist/jquery.min.js")></script>
<script src=@Url.Content("/Template/Dashboard/plugins/bower_components/popper.js/dist/umd/popper.min.js")></script>
<script src=@Url.Content("/Template/Dashboard/bootstrap/dist/js/bootstrap.min.js")></script>
<script src=@Url.Content("/Template/Dashboard/js/app-style-switcher.js")></script>
<script src=@Url.Content("/Template/Dashboard/plugins/bower_components/jquery-sparkline/jquery.sparkline.min.js")></script>
<script src=@Url.Content("/Template/Dashboard/js/waves.js")></script>
<script src=@Url.Content("/Template/Dashboard/js/sidebarmenu.js")></script>
<script src=@Url.Content("/Template/Dashboard/js/custom.js")></script>
<script src=@Url.Content("/Template/Dashboard/plugins/bower_components/chartist/dist/chartist.min.js")></script>
<script src=@Url.Content("/Template/Dashboard/plugins/bower_components/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js")></script>
<script src=@Url.Content("/Template/Dashboard/js/pages/dashboards/dashboard1.js")></script>
