
<link rel="stylesheet" type="text/css" href="~/Template/assets/css/bootstrap.min.css">

<link rel="stylesheet" type="text/css" href="~/Template/assets/css/font-awesome.css">

<link rel="stylesheet" href="~/Template/assets/css/style.css">

<section class="section section-bg" id="call-to-action" style="background-image: url(../../Template/assets/images/banner-image-1-1920x500.jpg )">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="cta-content">
                    <br>
                    <br>
                    
                </div>
            </div>
        </div>
    </div>
</section>