
<nav class="main-nav">
    <!-- ***** Logo Start ***** -->
    <a href="index.html" class="logo">Harry<em> Website</em></a>
    <!-- ***** Logo End ***** -->
    <!-- ***** Menu Start ***** -->
    <ul class="nav ">
        @if (User.IsInRole("APPLICANTS"))
        {

        <li>
            @Html.ActionLink("Dashboard", "UserDashboard", "Applicant", null, new { @class = "btn btn-primary" })
        </li>
        }
    <li>@Html.ActionLink("Home", "Index", "Job")</li>
    <li>@Html.ActionLink("Jobs", "ViewMoreJob", "Job")</li>
        <li>@Html.Partial("_LoginPartial")</li>
    </ul>
    <a class='menu-trigger'>
        <span>Menu</span>
    </a>
    <!-- ***** Menu End ***** -->
</nav>