@{ Layout = null;}
@model RecruitingProject.Entity.ApplyForJob
@{
    ViewBag.Title = "Display";
}
@Html.Partial("_AdminHeader")

<div style="margin-top: 30px">
    <img src=@Url.Content("/Template/assets/images/pdf.png") />
    <button><a href="" download="~/Document/resume.pdf" target="_blank">Download </a></button>
    <button>
        @Html.ActionLink("Return back", "Index", "Admin")
    </button>
</div>

@Html.Partial("_AdminFooter")




